---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "About Me";
const pageSubtitle = "Trivia about me, the author"
const currentPath = "/about";

const identity = {
    firstName: "BraveGrumpy",
    country: 'USA, unfortunately',
    occupation: 'engineer',
    hobbies: ["3D Graphics", "photography", "website design", "boardgames", "painting", "logic puzzles"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs","python", "Data Analysis", "CAD", "XML", "SQL", "AWS"]

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"
---
<head>
    <title>
        {pageTitle} | BraveGrumpy
    </title>
</head>
<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle} currentPath={currentPath}>
    <h1>{pageTitle}</h1>
    <style define:vars={{skillColor, fontWeight, textCase}} lang="less">
        @import '@styles/declarations.less';
        h1 {
            color: purple;
            font-size: 4rem;
            #textStyles.fonts.logoText();
        }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>You can call me {identity.firstName}</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}</li>
        {
            identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My skills are:</p>
    <ul>
        { skills.map((skill)=> <li class="skill">{skill}</li>) }
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
        goal === 3 ? <p>My goal is to finish in 3 days. </p> : <p>My goal is not 3 days.</p>
    }
</BaseLayout>
