---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/components/Navigation.astro";
import Logo from "@/components/Logo.svelte";
import PageTitle from "@/components/PageTitle.svelte";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { navigation, colors } from "@/scripts/data.js";


let topNav = {
    width: "100%",
    backgroundColor: colors.bravegrumpy.accent1a,
    darkBackgroundColor: colors.bravegrumpy.logoPurple,
    justifyContent: "flex-end",
    routes: [
        {
            href: "#",
            text: "Nav1",
            className: "default"
        },
        {
            href: "#",
            text: "Nav2",
            className: "active"
        },
        {
            href: "#",
            text: "Nav3",
            className: "default"
        },
    ]
}

topNav.routes.forEach((route) => (
    route["palette"] = {
        defaultBackgroundColor: colors.bravegrumpy.accent1a,
        defaultColor: colors.bravegrumpy.logoPurple,
        defaultActiveColor: colors.bravegrumpy.brand1,
        darkBackgroundColor: colors.bravegrumpy.brand1,
        darkDefaultColor: colors.bravegrumpy.accent1a,
        darkActiveColor: colors.bravegrumpy.highlight1
    }
))

navigation["width"] = "100%";

const pageTitle = "Creating Components";
const pageSubtitle = "A place for me to create components from modular parts, and see what  I'm doing, before  applying it to the whole page"

const  currentPath = "/components";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle} currentPath={currentPath}>
    <p>This is a list of various components that I've made. I'm using it to be able to visually see the changes I'm making.</p>

    <hr />


    <div class="container">
        <div class="top">
            <Logo />
            <Navigation props={topNav} />
        </div>
        <div class="middle">
            <PageTitle />
        </div>
        <div class="bottom">
            <Navigation props={navigation} />
        </div>
    </div>

</BaseLayout>

<style lang="less">
    @import "@styles/declarations.less";

    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
        gap: 0rem;
        background-color: @accent1a;
    }
    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 0px;
    }
    .middle{
        flex-basis: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(80%, 50%);
    }
    .bottom{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
    }

    :global(.dark) {
        .container{
            background-color: @logoPurple;
        }
        .top{
            background-color: @logoPurple;
        }
        .middle{}
        .bottom{
            background-color: @accent2a;
        }
    }

    @media (max-width: 1200px) {
        .middle{
            position: static;
            top: 0px;
            flex-basis: 100%;
            width: 100%;
            order: 3;
            transform: translate(0, 0);
        }
    }
</style>