---
import { ViewTransitions } from "astro:transitions";
import { Seo } from "astro-seo-meta";
import Header from '@components/Header.astro';
import Footer from '@tutorial/Footer.astro';
import '@styles/global.less';
import { colors } from '@scripts/data.js';
import Main from '@components/svelte/Main.svelte';
import Aside from '@components/svelte/Aside.svelte';
import SideNav from '@components/svelte/SideNav.svelte';

const { pageTitle, pageSubtitle, currentPath='', routes=[] } = Astro.props;

let subnav = {
    width: "100%",
    justifyContent: "flex-start",
    backgroundColor: colors.bravegrumpy.logoPurple,
    darkBackgroundColor: colors.bravegrumpy.accent2a,
    routes: routes
}
---
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <Seo
            title=`${pageTitle} | BraveGrumpy`
            description="Personal website, art portfolio, and creative writing blog."
            keywords={["Art", "Writing", "Original Fiction", "Photography", "personal website", "blog"]}
            icon="/favicon.png"
            themeColor={colors.bravegrumpy.logoPurple};
            colorScheme="light"
            facebook={{
                url: "https://bravegrumpy.com",
                type: "website"
            }}
        />
        <meta name="author" content="Brave Grumpy">
        <link rel="sitemap" href="/sitemap-index.html" />
        <meta name="generator" content={Astro.generator}>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">

        <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>


        <ViewTransitions />
    </head>
    <body>
       <Header 
            pageTitle={pageTitle} 
            pageSubtitle={pageSubtitle}
            active={currentPath}
            subnav={subnav}
        />
        <main>
            <Main client:load >
                <slot></slot>
            </Main>
            <Aside>
                <slot name="aside"></slot>
            </Aside>
            <SideNav client:load />
        </main>
       <Footer />
       <script>
        import '@/scripts/menu.js';
       </script>
    </body>
</html>

<style lang="less">
    @import '@styles/declarations.less';

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1rem;
    }
</style>