---
import BaseLayout  from './BaseLayout.astro';
const { frontmatter, routes, currentPath } = Astro.props;
---
<BaseLayout 
    pageTitle={frontmatter.title} 
    pageSubtitle={frontmatter.description} 
    currentPath={currentPath}
    routes={routes}
    aside={true}
    sidenav
>

    <h1>{frontmatter.title}</h1>
    <p>Published on: {frontmatter.pubDate.toString().slice(0,15)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p><strong>Written by <a href="/about/">{frontmatter.author}</a></strong></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <div class="tags">
        {frontmatter.tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    <slot></slot>
    <div slot="aside">
        <h2>Description</h2>
        <p>{frontmatter.description}</p>
    </div>
    <slot slot="sidenav" name="sidenav"></slot>
</BaseLayout>

<style lang="less">
    @import '@styles/declarations.less';

    a {
      color: #00539F;
    }

    h1 {
        .fonts.heading(@size: 2rem);
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>